/*
	AMO CONSULTANCY - Custom Theme - 01/2023
*/

/* Tabs Title Font Size*/
.theme-entry.amoconsultancy div[name="VIEW_HEADER_Logo"]{
	float:left;	
	border-bottom: 2px solid lightgrey;
}
.theme-entry.amoconsultancy div[name="VIEW_HEADER_Translator"]{
	position: absolute!important;
}

/* Tabs Title Font Size*/
.theme-entry.amoconsultancy .tab-box ul.tab-box-tabs a.tab .tab-text{
	font-size: medium;	
	margin-left: 25px;
    margin-right: 25px;
}

.theme-entry.amoconsultancy .view>.innerpanel
,.theme-entry.amoconsultancy.view-canvas>.innerpanel {
    border-radius: var(--view-rounding);
    border: 1px solid lightgrey;
}

.theme-entry.amoconsultancy .tab-box.tabs-top ul.tab-box-tabs {
	border: none;	
}

.theme-entry.amoconsultancy .tab-box ul.tab-box-tabs li {
	margin: 0px;
	border-right: 2px solid #01426A;
}

.theme-entry.amoconsultancy .tab-box ul.tab-box-tabs li:last-child {
	border:none;
}

.theme-entry.amoconsultancy .view .panel-header-wrapper
,.theme-entry.amoconsultancy .view-canvas .panel-header-wrapper
,.theme-entry.amoconsultancy .view .grid-header-wrapper
,.theme-entry.amoconsultancy .view-canvas .grid-header-wrapper{
		background: linear-gradient(90deg,#01426A,#71DBD4);
}