/*
	AMO CONSULTANCY - Custom Theme - 01/2023
*/

/* Tabs Title Font Size*/
.theme-entry.amoconsultancy div[name="VIEW_HEADER_Logo"]{
	position:absolute;	
	border-bottom: 2px solid lightgrey;
}
.theme-entry.amoconsultancy div[name="VIEW_HEADER_Translator"]{
	position: absolute!important;
	right: 40px;
}

.theme-entry.amoconsultancy .tab-box ul{
	width: 50%;
    	margin-left: 30%;
	padding-top: 30px;
	height: 60px;
}

/* Tabs Title Font Size*/
.theme-entry.amoconsultancy .tab-box ul.tab-box-tabs a.tab .tab-text{
	font-size: medium;	
	margin-left: 30px;
    	margin-right: 30px;
}

.theme-entry.amoconsultancy .view>.innerpanel
,.theme-entry.amoconsultancy.view-canvas>.innerpanel {
    		border-radius: var(--view-rounding);
    border: 1px solid lightgrey;
}
/* MENU - BEGIN */
.theme-entry.amoconsultancy .tab-box ul.tab-box-tabs li {
	margin: 0px;
	border-right: 2px solid #01426A;
}

.theme-entry.amoconsultancy .tab-box ul.tab-box-tabs li:last-child {
	border:none;
}
/* MENU - END */

/* VIEW HEADER - BEGIN */
.theme-entry.amoconsultancy .view .panel-header-wrapper
,.theme-entry.amoconsultancy .view-canvas .panel-header-wrapper
,.theme-entry.amoconsultancy .view .grid-header-wrapper
,.theme-entry.amoconsultancy .view-canvas .grid-header-wrapper{
	background: linear-gradient(90deg,#01426A,#71DBD4);
}
/* VIEW HEADER - END */
