/*
	AMO CONSULTANCY - Custom Theme - 02/2023
*/

/* Customer Colors Codes
	#01426A - Blue
	#26D07C - Green
	#FF8D6D - Orange
	#FFD100 - Yellow
	#71DBD4 - Turquoise
	#5B6770 - Grey
*/

/* Variables */
.theme-entry.amo{
    --view-rounding: 5px;
	--button-rounding: 5px;
	--main-text-size: 1.4rem;	
}

body .theme-entry.amo{
	background-size: 100% !important;
}

.mobile .theme-entry.amo{
	--control-inset-vertical-spacing: 1rem;
}

/* Views Header */
.theme-entry.amo .row.header{	
	border-bottom: 2px solid lightgrey;
	background-color: white;
}
.theme-entry.amo .row.header .view.header-left{	
	width: 80% !important;
	margin: 0px !important;
}
.theme-entry.amo .row.header .view.header-right{	
	width: 17% !important;
	margin-top: 15px !important;
}
.theme-entry.amo .row.header .view.header-left a.SourceCode-Forms-Controls-Web-Button:hover {
    color: #71DBD4;
}
.theme-entry.amo .row.header .view.header-left a.SourceCode-Forms-Controls-Web-Button {
    color: #01426A;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;	
    text-transform: uppercase;
    border: none;
    background-color: white;
    border-right: 3px solid #01426A;
    border-radius: 0px;
    font-weight: 600;
}
.theme-entry.amo .row.header .view.header-left a.SourceCode-Forms-Controls-Web-Button:last-child {
    border: none;
}
.theme-entry.amo .row.header .view>.innerpanel, .theme-entry.amo .row.header .view-canvas>.innerpanel {
    border: none;
}

/* Hide Tabs */
.theme-entry.amo  .tab-box ul.tab-box-tabs.hidetabs{
	display: none;
}

/* Views Header - Gradient Color */
 .theme-entry.amo .view .panel-header-wrapper
,.theme-entry.amo .view-canvas .panel-header-wrapper
,.theme-entry.amo .view .grid-header-wrapper
,.theme-entry.amo .view-canvas .grid-header-wrapper{
	background: linear-gradient(90deg,#01426A,#71DBD4);
}

/* Views Border */
 .theme-entry.amo .view>.innerpanel
,.theme-entry.amo .view-canvas>.innerpanel{
    border-radius: var(--view-rounding);
    border: 1px solid lightgrey;	
}

/* Datalabels KPIs Borders */
.theme-entry.amo .kpis h3 {
    padding: 12px;
    color: #01426A;
    text-shadow: 1px 1px 1px #71DBD4;
    -moz-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.5);
    border: 2px solid lightgrey;
    border-radius: 7px;
    -moz-box-shadow: 0px 0px 6px 8px rgba(211,211,211,1);
    background-color: white;
    width: 100%;
    height: auto;
}

/* All Footer Size*/
.theme-entry.amo .grid-footer .toolbar, 
.theme-entry.amo .grid-footer .toolbars.single .toolbar {
    min-height: 3.7rem;
}*

/* All text box watermarks */
.theme-entry.amo .SFC.SourceCode-Forms-Controls-Web-TextBox.watermark,
.theme-entry.amo .input-control-watermark {
    font-size: --main-text-size;
}

/* Mobile */
.mobile .theme-entry.amo .runtime-form, .mobile #WorkflowStrip {
    width: 95%!important;
}

.mobile .theme-entry.amo .runtime-content {
    margin: 5px!important;
}

.mobile .theme-entry.amo .row.header .view.header-right.translatorView {
    display: none;
}

.mobile .theme-entry.amo .row.header .view.header-left {
    width: 100% !important;
}

.mobile .theme-entry.amo .root-table.Grid-Layout>.editor-cell, 
.mobile .theme-entry.amo .root-table.editor-grid>.editor-cell {
    padding-left: var(--block-inset-horizontal-spacing);
	padding-right: var(--block-inset-horizontal-spacing);
}

.mozilla .theme-entry.amo input.SFC.SourceCode-Forms-Controls-Web-TextBox, 
.webkit.safari .theme-entry.amo input.SFC.SourceCode-Forms-Controls-Web-TextBox {
	padding-left: var(--control-inset-horizontal-spacing);	
}

.mobile .theme-entry.amo .view .panel-body-wrapper span[name*="HideIfMobile"] {
    display: none!important;
}

@media only screen and (max-width: 500px) {
   .mobile .theme-entry.amo .formcontrol .innerpanel>*.SourceCode-Forms-Controls-Web-Table.Grid-Layout {
    display: table!important;
	}
}

@media only screen and (max-device-width: 480px) and (orientation: portrait)
,only screen and (max-device-width: 850px) and (orientation: landscape){
	.mobile .theme-entry.amo .menu,
	.mobile .theme-entry.amo .popup,
	.mobile .theme-entry.amo .dialog,
	.mobile .theme-entry.amo .dialog#PickerSearchDialog {
		position: absolute!important;
		left: 0!important;
		right: 0!important;
		top: 0!important;
		bottom: 0!important;
		display: block;
		height: 100%!important;
		width: 100%!important;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

